<div class="bg-blue flex flex-column h-full sticky"
     [class.collapsed]="!panelExpanded"
     [class.expanded]="panelExpanded">
  <div class="flex flex-column flex-grow-1 p-5 cursor-pointer" [class]="panelExpanded ? 'align-items-start' : 'align-items-center'">
    <div class="flex align-items-center mb-4" [class.w-full]="panelExpanded" [class.mt-4]="!panelExpanded">
      <img [src]="'assets/images/vetpluslogo.png'" [class.mr-2]="panelExpanded" width="70" height="80" alt="logo"/>
      <h2 class="ml-1 font-semibold" *ngIf="panelExpanded">Vet+</h2>
    </div>
    <ng-container *ngFor="let menu of sideNavMenu">
      <p class="w-full ml-4 mt-6 mb-4 text-left" *ngIf="panelExpanded && menu.title">{{menu.title}}</p>
      <button class="p-button-light-blue p-button-outlined border-none my-2" pButton pRipple
              [label]="panelExpanded ? menu.label : ''"
              icon="true"
              [disabled]="menu.disabled"
              [routerLink]="menu.route"
              [routerLinkActive]="'active'">
        <span *ngIf="menu.badge"
              class="p-badge p-component p-badge-warning p-badge-dot absolute"
              [ngClass]="panelExpanded ? 'badge-position-expanded' : 'badge-position-collapsed'"></span>
        <i [class]="menu.icon" class="text-2xl"></i>
      </button>
    </ng-container>
  </div>
  <div class="flex justify-content-between align-items-center" [ngClass]="!panelExpanded ? 'copyright-collapsed' : 'copyright-expanded'">
    <p class="text-center pl-4" *ngIf="panelExpanded">© Vet+ Team</p>
    <p-button pRipple icon="true"
              styleClass="p-button-light-blue p-button-outlined w-100"
              (click)="togglePanel()">
      <i [class]="panelExpanded ? 'pi pi-arrow-left' : 'pi pi-arrow-right'" class="text-2xl"></i>
    </p-button>
  </div>
</div>
