<div class="flex flex-column">
  <div class="flex align-items-center">
    <hr class="text-green" [style]="{border: '1rem solid', height: '13rem', margin: '0 2rem 1rem 0'}">
    <h1 class="text-white" [style]="{font: 'normal normal bold 5.8rem/7.8rem Open Sans'}">Welcome to
      <br>Vet+</h1>
  </div>
  <p-card styleClass="shadow-none mb-3 px-6 pb-6">
    <h2 class="text-blue pb-4 pt-2">Login</h2>
    <form class="flex flex-column">
      <div class="formgrid">
        <div class="field">
          <label for="username" class="pb-2 text-dark-blue">E-Mail</label>
          <input id="username" type="text" class="p-input-blue w-full"  pInputText/>
        </div>

        <div class="field">
          <label for="password" class="pt-2 pb-2 text-dark-blue">Password</label>
          <p-password id="password"
                      class="p-input-blue"
                      styleClass="w-full"
                      inputStyleClass="w-full"
                      [feedback]="false"
                      [toggleMask]="true"></p-password>
        </div>
      </div>

      <p class="align-self-end cursor-pointer">
        <a class="text-blue no-underline">Forgot password</a>
      </p>

      <p-button styleClass="w-full p-button-lg border-rounded-xl p-button-dark-green"
                class="mr-2" [label]="'Submit'"></p-button>
    </form>
  </p-card>
</div>
