<div class="grid parent-container">
  <div class="col-8">
    <p class="m-0 text-blue pl-3 font-bold mt-5">Pet's Medical Information</p>

    <div class="border-none mt-4">
      <p-card styleClass="shadow-none border-round-2xl">
        <p class="m-0 text-blue pl-3 font-medium mt-4">Veterinary visits ({{veterinaryVisits.length}})</p>

        <div class="grid mt-4 font-medium text-dark-blue">
          <div class="col-2">
            <p class="m-0 pl-3">Date of Visit</p>
          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Reason for Visit</p>

          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Diagnosis</p>

          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Treatment Given</p>
          </div>
          <div class="col">
            <p class="m-0 pl-3">Follow-up Recommendations</p>
          </div>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4"  *ngFor="let visit of veterinaryVisits">
          <div class="col-2">
            <p class="m-0 text-blue pl-3">{{visit.dateOfVisit}}</p>
          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">{{visit.reasonForVisit}}</p>

          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">{{visit.diagnosis}}</p>

          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">{{visit.treatmentGiven}}</p>
          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">{{visit.recommendations}}</p>
          </div>

          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true"
                    (onClick)="setVeterinaryModal(visit)">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>
      </p-card>
    </div>

    <div class="border-none mt-4">
      <p-card styleClass="shadow-none border-round-2xl">
        <p class="m-0 text-blue pl-3 font-medium mt-4">Vaccination Records (2)</p>

        <div class="grid mt-4 font-medium text-dark-blue">
          <div class="col-2">
            <p class="m-0 pl-3">Vaccine Type</p>
          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Date Administered</p>

          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Expiry Date</p>

          </div>
          <div class="col">
            <p class="m-0 pl-3">Next Due Date</p>
          </div>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4">
          <div class="col-2">
            <p class="m-0 text-blue pl-3">Rabies</p>
          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">March 10, 2023</p>

          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">March 10, 2026</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">March 10, 2026</p>
          </div>
          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3 my-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4">
          <div class="col-2">
            <p class="m-0 text-blue pl-3">Distemper</p>
          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">March 10, 2023</p>

          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">March 10, 2024</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">March 10, 2024</p>
          </div>
          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3 my-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>
      </p-card>
    </div>

    <div class="border-none mt-4">
      <p-card styleClass="shadow-none border-round-2xl">
        <p class="m-0 text-blue pl-3 font-medium mt-4">Medications (2)</p>

        <div class="grid mt-4 font-medium text-dark-blue">
          <div class="col-2">
            <p class="m-0 pl-3">Name of Medication</p>
          </div>
          <div class="col-2">
            <p class="m-0 pl-3">Dosage</p>

          </div>
          <div class="col">
            <p class="m-0 pl-3">Administration Instructions</p>

          </div>
          <div class="col">
            <p class="m-0 pl-3">Start and End Dates</p>
          </div>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4">
          <div class="col-2">
            <p class="m-0 text-blue pl-3">Metacam</p>
          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">5 mg once daily</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">Administer with food</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">June 15, 2024 - June 30, 2024</p>
          </div>
          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3 my-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4">
          <div class="col-2">
            <p class="m-0 text-blue pl-3">Prednisone</p>
          </div>
          <div class="col-2">
            <p class="m-0 text-blue pl-3">10 mg twice daily</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">Give with water</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">April 22, 2024 - May 6, 2024</p>
          </div>
          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3 my-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>
      </p-card>
    </div>

    <div class="border-none mt-4">
      <p-card styleClass="shadow-none border-round-2xl">
        <p class="m-0 text-blue pl-3 font-medium mt-4">Allergies (1)</p>

        <div class="grid mt-4 font-medium text-dark-blue">
          <div class="col">
            <p class="m-0 pl-3">Type of Allergy</p>
          </div>
          <div class="col">
            <p class="m-0 pl-3">Symptoms</p>

          </div>
          <div class="col">
            <p class="m-0 pl-3">Treatment/Medication</p>

          </div>
        </div>

        <div class="grid border-1 border-light-blue align-items-center mt-4">
          <div class="col">
            <p class="m-0 text-blue pl-3">Food allergy (chicken)</p>
          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">Itching, redness, digestive upset</p>

          </div>
          <div class="col">
            <p class="m-0 text-blue pl-3">Hypoallergenic diet, antihistamines as needed</p>
          </div>
          <p-button styleClass="p-button-blue border-round-xl p-button-lg w-3rem h-3rem mr-3 my-3"
                    [style]="{overflow: 'inherit'}"
                    icon="true">
            <i [class]="'pi pi-question-circle'" class="text-2xl"></i>
          </p-button>
        </div>
      </p-card>
    </div>

  </div>

  <div class="col-4">

  </div>
</div>

<app-veterinary-visit [veterinaryData]="selectedVeterinaryVisit" [visible]="openVeterinaryVisitModal" (closedModal)="closedVeterinaryModal()"></app-veterinary-visit>
