  <div class="grid">
    <div class="col-8">
      <p-card styleClass="ml-5 hover:bg-gray-50 cursor-pointer mt-4">
        <p class="m-0 text-blue pl-3 font-bold">Medical Information</p>

        <div class="grid mt-2">
          <div class="col">
            <p class="m-0 pl-3 text-dark-blue">Date of Visit:</p>
            <p class="m-0 pl-3 text-dark-blue">Reason for visit:</p>
            <p class="m-0 pl-3 text-dark-blue">Diagnosis:</p>
            <p class="m-0 pl-3 text-dark-blue">Treatment Given:</p>
            <p class="m-0 pl-3 text-dark-blue">Follow-up recommendations:</p>
          </div>
          <div class="col">
            <p class="m-0 pl-3 text-dark-blue">March 10, 2024</p>
            <p class="m-0 pl-3 text-dark-blue">Routine check-up and vaccinations</p>
            <p class="m-0 pl-3 text-dark-blue">Healthy</p>
            <p class="m-0 pl-3 text-dark-blue">Rabies vaccination, Distemper vaccination</p>
            <p class="m-0 pl-3 text-dark-blue">Follow-up in two weeks, keep pet rested:</p>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-4">

    </div>
  </div>
