<p-dialog
  [(visible)]="visible"
  [position]="'center'"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  styleClass="relative"
  (onHide)="closeModal()"
>
  <ng-template pTemplate="header">
    <p class="font-bold m-0">Add new pet</p>
  </ng-template>

  <div class="formgrid grid mt-4">
    <div class="field col-6">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="p-input-blue w-full"
        pInputText
        [(ngModel)]="name"
      />
    </div>
    <div class="field col-6">
      <label for="age">Age</label>
      <input
        id="age"
        type="text"
        class="p-input-blue w-full"
        pInputText
        [(ngModel)]="age"
      />
    </div>

    <div class="field col-6">
      <label for="gender">Gender</label>
      <input
        id="gender"
        type="text"
        class="p-input-blue w-full"
        pInputText
        [(ngModel)]="gender"
      />
    </div>

    <div class="field col-6">
      <label for="color">Breed</label>
      <input
        id="breed"
        type="text"
        class="p-input-blue w-full"
        pInputText
        [(ngModel)]="breed"
      />
    </div>

    <!-- <div class="field col-12">
      <label for="moreInformation">More information</label>
      <textarea
        id="moreInformation"
        class="w-full"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="moreInformation"
      ></textarea>
    </div> -->
  </div>

  <div class="flex mt-5">
    <p-button
      styleClass="p-button-blue border-round-xl p-button-outlined font-medium h-4rem w-10rem flex justify-content-center"
      (onClick)="closeModal()"
      [label]="'Cancel'"
      class="mr-3"
    ></p-button>
  </div>
  <div class="flex mt-5">
    <p-button
      styleClass="p-button-blue border-round-xl p-button-outlined font-medium h-4rem w-10rem flex justify-content-center"
      (onClick)="save()"
      [label]="'Save'"
      class="mr-3"
    ></p-button></div
></p-dialog>
